* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #ccc;
	font-family: sans-serif,"Microsoft yahei";
}
li{
	list-style: none;
}
#wrap {
	width: 80%;
	margin: 100px auto;
	display: -webkit-flex; 
  	display: flex;
  	justify-content: space-around;
}
.page {
	width: 295px;
	height: 525px;
	box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 10px 10px 5px #888;
	transition: all 1s ease;
	transform-style: preserve-3d;
	transform-origin: 50% 0;
}
.page:hover {
	transform: rotateX(90deg);
}
.page img {
	/*vertical-align: bottom;*/
	display: block;
}
.page section {
	height: 485px;
}
.page footer {
	display: flex;
	box-sizing: border-box;
	padding: 0 25px;
	line-height: 45px;
	background-color: #fff;
}
.page footer .left, .page footer .right {
	width: 40px;
}
.page footer .center {
	flex: 1;
	text-align: center;
}
.page footer li {
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: #ccc;
	vertical-align: middle;
}
.page footer li.active {
	background-color: #000;
}
.page footer .right {
	text-align: right;
}
.page footer .right i {
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(images/chat.png) no-repeat;
	vertical-align: middle;
}
/*第一页*/
.page1 section {
	background: url(images/page2.jpg) no-repeat;
	background-size: cover;
	color: #fff;
}
.page1 section div {
	width: 150px;
	padding: 190px 24px 0;
}
.page1 section button {
	width: 60px;
	height: 25px;
	background: #fff;
	color: #ccc;
	border: none;
	font-size: 12px;
	border-radius: 2px;
	margin-top: 15px;
}
.page1 section h4 {
	font-size: 10px;
	transform: scale(0.8);
}
.page1 section p {
	font-weight: bold;
	font-size: 23px;
	line-height: 40px;
}
/*第二页*/
.page2 section {
	box-sizing: border-box;
	padding: 30px 30px 0;
	background-color: #f8f9fa;
}
.page2 p {
	color: #959ba0;
	font-size: 10px;
	line-height: 25px;
	text-align: left;
	vertical-align: top;
}
.page2 p:first-child {
	margin-bottom: 20px;
}
.page2 p span {
	color: #2c3137;
	font-size: 60px;
	float: left;
	padding: 10px 10px 10px 0;
}
/*第三页*/
.page3 {
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;
	padding: 12px 20px 20px;
}
.page3 header {
	height: 26px;
}
.page3 h3 {
	font-size: 12px;
	transform: scale(0.8);
	display: inline-block;
}
.page3 header i.close {
	float: right;
	width: 12px;
	height: 12px;
	background: url(images/close.png) no-repeat;
	background-size: 12px;
	margin-top: 7px;
}
.page3 .chat {
	height: 80px;
	margin: 30px 0;
	font-size: 12px;
	text-align: left;
}
.page3 .chat .logo {
	width: 40px;
	height: 40px;
	border: 1px solid #ccc;
	border-radius: 50%;
	margin-right: 20px;
	float: left;
}
.page3 .chat .cos1 {
	background: url(images/customer1.jpg) no-repeat;
	background-size: cover;
}
.page3 .chat .cos2 {
	background: url(images/customer2.jpg) no-repeat;
	background-size: cover;
}
.page3 .chat .cos3 {
	background: url(images/customer3.jpg) no-repeat;
	background-size: cover;
}
.page3 .chat .cos4 {
	background: url(images/customer4.jpg) no-repeat;
	background-size: cover;
}
.page3 .chat p {
	margin-left: 15px;
}
.page3 .chat span {
	margin: 0 5px;
}
.page3 .chat .message {
	margin-bottom: 5px;
	color: #ccc;
}

