* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Microsoft yahei",sans-serif;
}
#wrap {
	width: 6.4rem;
	height: 11.36rem;
	box-sizing: border-box;
}
header {
	height: 2.3rem;
	background-color: #534375;
	border: 0.3rem solid #534375;
	position: relative;
}
section {
	height: 9.06rem;
	padding: 0.3rem;
	box-sizing: border-box;
}
header .top {
	height: 0.5rem;
}
header .top .icon_left {
	background: url(images/back.png) no-repeat;
	background-position: center;
	width: 0.64rem;
	height: 0.64rem;
	float: left;
}
header .top .icon_right {
	background: url(images/point.png) no-repeat;
	background-position: center;
	width: 0.64rem;
	height: 0.64rem;
	float: right;
}
header p {
	font-size: 0.32rem;
	color: #fff;
	position: absolute;
	bottom: 0;
}
.add {
	width: 0.64rem;
	height: 0.64rem;
	position: absolute;
	top: 2.3rem;
	right: 0.3rem;
	border-radius: 50%;
	background: url(images/add.png) no-repeat;
	background-size: 50%;
	background-position: center;
	background-color: #f50056;
}
section, section h3 {
	font-size: 12px;
}
section h3 {
	color: #ccc;
}
section .content {
	height: 1.5rem;
	margin-top: 0.4rem;
	display: flex;
	align-items: center;
}
.today .content:nth-child(2), .tomorrow .content {
	border-bottom: 1px solid #ccc;
}
section .content input {
	transform: scale(1.2);
	float: left;
	margin-right: 0.4rem;
}
section .content .right {
	width: 5.6rem;
}
section .content .right p {
	margin-top: 0.08rem;
}
.content i {
	width: 0.64rem;
	height: 0.64rem;
	float: left;
	margin-right: 0.28rem;
	background-position: center;
}
.content i.level {
	width: 0.76rem;
	height: 0.64rem;
	background: url(images/star.png) no-repeat;
	float: right;
}
.tomorrow .content:nth-child(4) .right p {
	text-indent: 1.5rem;
}
section .content .delete {
	background: url(images/delete.png) no-repeat;
}
.content i.yellow {
	width: 0.76rem;
	height: 0.64rem;
	background: url(images/yellowstar.png) no-repeat;
	float: right;
}
.today i.phone {
	display: inline-block;
	background: url(images/phone.png) no-repeat;
}
.today .pen {
	display: inline-block;
	background: url(images/pen.png) no-repeat;
}
.tomorrow .web {
	display: inline-block;
	background: url(images/web.png) no-repeat;
}
.tomorrow .mail {
	display: inline-block;
	background: url(images/mail.png) no-repeat;
}